fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic

python-dotenv

pydantic

sentence-transformers

chromadb

langchain

openai

azure-ai-inference

python-docx
pdfplumber
pymupdf

beautifulsoup4

neo4j

pytest