.app {
  width: 100%;
  min-height: 100vh;
  background: #f4f7fb;
}

.main-content {
  margin-left: 260px;
  padding-top: 78px;

  min-height: 100vh;

  width: calc(100% - 260px);
}

/* Tablet */

@media (max-width: 900px) {
  .main-content {
    margin-left: 80px;
    width: calc(100% - 80px);
  }
}

/* Mobile */

@media (max-width: 600px) {
  .main-content {
    margin-left: 0;
    width: 100%;
    padding-top: 70px;
  }
}